.bg-quixx-orange {background-color: orange;}
.bg-quixx-red {background-color: red;}
.bg-quixx-yellow {background-color: #cdb42f;}
.bg-quixx-green {background-color: green;}
.bg-quixx-blue {background-color: #2525ff;}
