.bg-quixx-orange {background-color: orange;}
.txt-quixx-orange {color: orange;}
.bg-quixx-red {background-color: red;}
.txt-quixx-red {color: red;}
.bg-quixx-yellow {background-color: #cdb42f;}
.txt-quixx-yellow {color: #cdb42f;}
.bg-quixx-green {background-color: green;}
.txt-quixx-green {color: green;}
.bg-quixx-blue {background-color: #2525ff;}
.txt-quixx-blue {color: #2525ff;}
