@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

body {
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#root {
    margin: 0;
    padding: 0;
}
.quixx-nav {
    width: 100%;
    position: absolute;
    top: 0;
    height: 10%;
    border-bottom: solid 1px black;
    padding: 0 1em;
}
.nav-title {
    color: white;
    vertical-align: middle;
}
.nav-button {
    color: white;
    vertical-align: middle;
}
.score-card {
    position: absolute;
    top: 10%;
    bottom: 10%;
    display: flex;
    height: 80%;
    max-height: 80%;
    width: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
}
.score-col {
    overflow: scroll;
    margin: auto auto;
    border: solid 1px black;
}
.score-btn {
    font-weight: bold;
    font-size: x-large;
    border: solid 1px black;
    opacity: 80%;
    text-align: center;
    background-color: lightgray;
    text-shadow: 2px 2px 4px white;
    margin: auto;
}
.score-btn > img {
    height: 2em;
    font-size: medium;
}
.score-btn-arrow {
    background-color: rgba(0,0,0,0);
    border: none;
}
.score-totals {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 10%;
    background-color: lightgray;
}

.bg-quixx-orange {
    background-color: orange;
}
.txt-quixx-orange {
    color: orange;
}
.bg-quixx-red {
    background-color: red;
}
.txt-quixx-red {
    color: red;
}
.bg-quixx-yellow {
    background-color: #cdb42f;
}
.txt-quixx-yellow {
    color: #cdb42f;
}
.bg-quixx-green {
    background-color: green;
}
.txt-quixx-green {
    color: green;
}
.bg-quixx-blue {
    background-color: #2525ff;
}
.txt-quixx-blue {
    color: #2525ff;
}

/* Tall screens */
@media (max-aspect-ratio: 1/1) {
    .score-col {
        flex: 1 1 50px;
        max-width: 25%;
        height: 100%;
        padding: 1em 0;
        padding-bottom: 3%;
    }
    .score-btn {
        height: 10vw;
        width: 10vw;
        display: block;
        padding: 0;
    }
    .score-btn-arrow {
        transform: rotate(90deg);
    }
}
/* Wide Screens */
@media (min-aspect-ratio: 1/1) {
    .score-card {
        flex-direction: column-reverse;
    }
    .score-col {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex: 1 1 50px;
        min-height: 20%;
        overflow-x: scroll;
        padding-right: 3%;
    }
    .score-btn {
        height: 10vh;
        width: 10vh;
        padding: 0;
    }
}