@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

body {
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#root {
    margin: 0;
    padding: 0;
}
.quixx-nav {
    width: 100%;
    position: absolute;
    top: 0;
    height: 10%;
}
.score-card {
    position: absolute;
    top: 10%;
    bottom: 10%;
    height: 80%;
    max-height: 80%;
    width: 100%;
}
.quixx-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 90%;
}