.skip-checkbox {
    height: 40px;
    width: 40px;
    display: block;
}
.score-total {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: large;
    font-weight: bold;
}
.menu-group {
    justify-content: normal;
}
.menu-group > hr {
    border: 1px black solid;
    background-color: black;
    width: 90%;
}
.menu-label {
    font-size: x-large;
    font-weight: bold;
    padding: 0;
}