.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition-property: opacity, height, z-index;
    transition-duration: .25s;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
}
.modal-content {
    width: 90%;
    max-width: 600px;
    min-height: 30%;
    max-height: 70%;
    text-align: center;
    top: 7%;
    position: absolute;
    background: #f1fafa;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.modal-content.dark {
    background: #78868f;
}
.modal-head {
    padding-bottom: 1%;
    border-bottom: 1px solid black;
}
.modal-body {
    flex: 1 1 auto;
    padding: .5em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-body-divider {
    font-weight: bold;
}
.modal-btn {
    width: 40%;
    padding: .5em 0;
    margin: .5em 0;
}
.modal-title {
    margin: 0;
}
.modal-wrapper.expand {
    opacity: 1;
    z-index: 1000;
    height: 100%;
}
.modal-wrapper.collapse {
    opacity: 0;
    z-index: -1;
    height: 0;
}
.modal-footer {
    flex: 0 1 auto;
}
.modal-div {
    display: inline-block;
    width: 85%;
    padding: .25em 0;
    margin: .25em 0;
}