.bg-quixx-orange {background-color: orange;}

.bg-quixx-red {background-color: red;}
.bg-quixx-red-op {background-color: rgba(255, 0, 0, .6);}

.bg-quixx-yellow {background-color: #cdb42f;}
.bg-quixx-yellow-op {background-color: rgba(205, 180, 47, .6);}

.bg-quixx-green {background-color: green;}
.bg-quixx-green-op {background-color: rgba(0, 128, 0, .6);}

.bg-quixx-blue {background-color: #2525ff;}
.bg-quixx-blue-op {background-color: rgba(37, 37, 255, 0.6);}