#root, .app-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#root {
    background-color: lightcyan;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 625px;
}
.board-btn {
    width: 90%;
    padding: .5em 0;
    margin: .5em 0;
}