body, #root, .app-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#root {
    background-color: lightcyan;
}
.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 675px;
}

.button-sizes {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    font-size: 35px;
    margin: 4px;
    border-radius: 3px;
}
@media (max-height: 665px) {
    .button-sizes {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        font-size: 30px;
    }
}
@media (max-height: 600px) {
    .button-sizes {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        font-size: 25px;
    }
}
