.quixx-nav {
    padding: 0 1em;
    display: table;
}
.nav-title {
    color: white;
    vertical-align: middle;
    display: table-cell;
}
.nav-button-group {
    vertical-align: middle;
    display: table-cell;
}
.nav-btn {
    float: right;
    height: 100%;
}
.nav-btn > img {
    height: 50%;
}
.nav-btn:disabled {
    opacity: .5;
}