.scores {
    width: 100%;
    height: 90%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
.score-group {
    flex: 1 1 auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.score-btn {
    display: flex;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-out;
    background-color: #eeeeee;
    border-radius: 3px;
    border: none;
}
.score-btn:disabled {
    transition: all .4s ease-out;
}
.scored {
    background-color: #75f100;
    transition: all .4s ease-out;
}
.locked.scored {
    background-color: orange;
    transition: all .4s ease-out;
}
.score-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}