.score-group {
    flex: 1 1 auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.score-button {
    width: 40px;
    height: 40px;
    display: flex;
    margin: 5px;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-out;
}
.score-button:disabled {
    transition: all .4s ease-out;
}
.scored {
    background-color: lawngreen;
    transition: all .4s ease-out;
}