.btn-sizes {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    font-size: x-large;
    border-radius: 8px;
}

@media (max-height: 665px) {
    .btn-sizes {
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
        font-size: 32px;
    }
}

@media (max-height: 600px) {
    .btn-sizes {
        width: 31px;
        height: 31px;
        min-width: 31px;
        min-height: 31px;
        font-size: 27px;
    }
}