.game-button {
    border: none;
    background: none;
}
.game-button:disabled {
    opacity: .2;
}
.game-button > img {
    height: 30px;
    width: 30px;
}
.header {
    width: 100%;
    min-height: 8%;
    max-height: 10%;
    flex: 1 1 auto;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header > * {
    display: flex;
    align-items: center;
}
.header-container {
    height: 100%;
    width: 90%;
    justify-content: space-evenly;
}
.title {
    font-size: 2em;
    font-weight: bold;
}